#######################################################################
# Sample 3G bridge configuration file
#
# For the syntax, see the "Basic format of the file" and "Possible value types"
# sections of the Desktop Entry Specification at
# http://standards.freedesktop.org/desktop-entry-spec/latest/

############################
# Database access parameters
[database]

# Name of the database
name =

# Host name of the database
host =

# Database user
user =

# Database password
password =

# Max. number of database connections that can be opened simultaneously
max-connections = 4

################
# Sample grid using the DC-API plugin
[SZDG]

handler = DC-API
dc-api-config = dc-api.conf


##############
# Sample grid using the EGEE plugin
[SEE-GRID]

handler = EGEE
voname = seegrid
wmproxy-endpoint = ...
myproxy_host = ...
myproxy_port = ...
myproxy_user = ...
myproxy_pass = ...
