#######################################################################
# Sample 3G bridge configuration file
#
# For the syntax, see the "Basic format of the file" and "Possible value types"
# sections of the Desktop Entry Specification at
# http://standards.freedesktop.org/desktop-entry-spec/latest/


#######################################################################
# Generic settings
[defaults]

log-level = DEBUG

#######################################################################
# Database access parameters
[database]

# Name of the database
name =

# Host name of the database
host =

# Database user
user =

# Database password
password =

# Max. number of database connections that can be opened simultaneously
max-connections = 4

#######################################################################
# 3G bridge parameters
[bridge]

# Where to send bridge logs. Possible values:
#	stdout			write to the standard output
#	syslog:<facility>	use syslog with the specified facility
#	[file:]/some/file	write to the speficied file
log-target =

# Location of the PID file
pid-file =


#######################################################################
# Web service settings
[wssubmitter]

# Where to send bridge logs. Possible values:
#	stdout			write to the standard output
#	syslog:<facility>	use syslog with the specified facility
#	[file:]/some/file	write to the speficied file
log-target =

# Location of the PID file
pid-file =

# Listening port
port =

# Number of web service threads. Must be smaller than the number of database connections
# otherwise deadlocks may occur
service-threads = 3

# Number of parallel downloads
download-threads = 5

# Where to put the downloaded input files
input-dir =

# Where to put temporary files. Must be on the same file system as input-dir
partial-dir =

# Directory for output files. When creating URLs for output files,
# output-dir is replaced with output-url-prefix
output-dir =
output-url-prefix =

################
# Sample grid using the DC-API plugin
[SZDG]

handler = DC-API
dc-api-config = dc-api.conf


##############
# Sample grid using the EGEE plugin
[SEE-GRID]

handler = EGEE
voname = seegrid
wmproxy-endpoint = ...
myproxy_host = ...
myproxy_port = ...
myproxy_user = ...
myproxy_pass = ...
