#! /bin/sh

set -e

. /usr/share/debconf/confmodule

ENABLED="0"
[ -r /etc/default/3g-bridge ] && . /etc/default/3g-bridge

case "$ENABLED" in
	[1yY]*)
		db_set 3g-bridge/enabled true
		;;
	*)
		db_set 3g-bridge/enabled false
		;;
esac

db_input high 3g-bridge/enabled || true
db_go || true
db_get 3g-bridge/enabled

if [ "$RET" = true ]; then
	if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
		. /usr/share/dbconfig-common/dpkg/config.mysql
		dbc_go 3g-bridge "$@"
	fi
fi
