Source: 3g-bridge
Section: net
Priority: extra
Maintainer: Gábor Gombás <gombasg@sztaki.hu>
Standards-Version: 3.7.2
Build-Depends: libmysqlclient15-dev | libmysqlclient-dev, pkg-config, libglib2.0-dev (>= 2.6.0), libdcapi-boinc-dev, debhelper (>= 5), automake1.9 | automaken (>= 1.9), autoconf (>= 2.53), libcurl3-openssl-dev | libcurl-openssl-dev, xsltproc, docbook-xsl

Package: 3g-bridge-qm
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: A bridge connecting various grid infrastructures
 This package contains the queue manager component.

Package: 3g-bridge-dbg
Section: net
Priority: extra
Architecture: any
Depends: 3g-bridge-qm (= ${Source-Version})
Description: 3G Bridge debug symbols
 This package contains the debugging symbols for the 3G Bridge.
