Source: 3g-bridge
Section: net
Priority: extra
Maintainer: Gábor Gombás <gombasg@sztaki.hu>
Standards-Version: 3.8.1
Build-Depends: libmysqlclient15-dev | libmysqlclient-dev, libglib2.0-dev,
 debhelper (>= 7), pkg-config, automake, autoconf, libtool, openjdk-6-jdk,
 libdcapi-boinc-dev, libcurl4-openssl-dev, xsltproc, docbook-xsl, gsoap

Package: 3g-bridge
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, dbconfig-common, ${misc:Depends}
Recommends: 3g-bridge-wsclient, mysql-client
Replaces: 3g-bridge-qm
Conflicts: 3g-bridge-qm
Suggests: mysql-server
Description: A bridge connecting various grid infrastructures
 This package contains the queue manager and the web service interface.

Package: 3g-bridge-wsclient
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: A bridge connecting various grid infrastructures
 This package contains the web service clients.

Package: 3g-bridge-dbg
Section: net
Priority: extra
Architecture: any
Depends: 3g-bridge (= ${binary:Version})
Description: 3G Bridge debug symbols
 This package contains the debugging symbols for the 3G Bridge.
