<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /<project_name>/download/wss/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 3gb.php/$1 [L]
</IfModule>
